{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
    <link rel="stylesheet" type="text/css" href="{% static '/css/login.css' %}">
</head>
<body>
    <div class="container">
        <div class="curved-shape"></div>
        <div class="form-container">
            <h2>Login</h2>
            <form method="post">
                {% csrf_token %}

                <div class="input-box">
                    {{ form.username.label_tag }}
                    {{ form.username }}
                    {{ form.username.errors }}
                </div>

                <div class="input-box">
                    {{ form.password.label_tag }}
                    {{ form.password }}
                    {{ form.password.errors }}
                </div>

                <div>
                    <button class="btn" type="submit">Login</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
